// Color Variables
$primary-color: #468D89;
$secondary-color: #BABD8D;
$text-header: #eaeaea;
$text-color: #eaeaea;
$text-color-dark: #181D27;
$text-color-light: #999;
$body-color: #031926;
$border-color: #c7c7c7;
$black: #000;
$white: #eaeaea;
$gray: #eaeaea;

// Font Variables
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Playfair Display', serif;
$tertiary-font: 'BwNistaInt-xBd';
$icon-font: 'themify';
